---
title: functional_verification
layout: default
---

# verification
Validate RTL behavior using simulation and formal verification.



[🔙 Back to SiliWiki](../index.md)
